.page-header {
    border-bottom: 1px solid #ececec;
  }
  
.page-header__container {
    display: flex;
    align-items: center;
  }

  .page-header__logo {
    margin-right: 93px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  
    color: #000000;
  }